<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>广东省基金公司数据</title>
</head>
<body>
            <style>
            .mytable {
                font-size: 14px;
                border: 1px solid #CCC;
                font-family: Arial, Helvetica, sans-serif;
                width: 100%;
                border-collapse: unset;
            }

            .mytable td {
                padding: 4px;
                margin: 3px;
                border: 1px solid #CCC;
            }

            .mytable th {
                background-color: #104E8B;
                color: #FFF;
                font-weight: bold;
            }
        </style>
        <table id="main-table" class="mytable">
            <tbody>
                <tr>
                    <th>公司名称</th>
                    <th>公司位置</th>
                    <th>公司规模</th>
                    <th>基金数量</th>
                    <th>官网链接</th>
                </tr>
                <tr>
                    <td>东莞证券 </td>
                    <td>广东省东莞市莞城区可园南路1号金源中心30楼 </td>
                    <td>27.02 </td>
                    <td>3 </td>
                    <td>www.dgzq.com.cn</td>
                </tr>
                <tr>
                    <td>中科沃土 </td>
                    <td>广东省佛山市南海区桂城街道桂澜北路6号千灯湖创投小镇核心区(自编号)十三座(B4) </td>
                    <td>15.44 </td>
                    <td>11 </td>
                    <td>www.richlandasm.com.cn</td>
                </tr>
                <tr>
                    <td>万联证券 </td>
                    <td>广东省广州市天河区珠江东路11号高德置地广场F座18、19楼 </td>
                    <td>3.51 </td>
                    <td>1 </td>
                    <td>www.wlzq.cn</td>
                </tr>
                <tr>
                    <td>金鹰 </td>
                    <td>广东省广州市天河区珠江新城珠江东路28号越秀金融大厦30层 </td>
                    <td>633.02 </td>
                    <td>103 </td>
                    <td>www.gefund.com.cn</td>
                </tr>
                <tr>
                    <td>百嘉 </td>
                    <td>广东省广州市天河区花城大道769号广州嘉昱中心10层 </td>
                    <td>48.46 </td>
                    <td>8 </td>
                    <td>www.baijiafunds.com.cn/index.html</td>
                </tr>
                <tr>
                    <td>华润元大 </td>
                    <td>广东省深圳市前海深港合作区兴海大道3040号前海世茂金融中心21层2103-05单元 </td>
                    <td>125.45 </td>
                    <td>37 </td>
                    <td>www.cryuantafund.com</td>
                </tr>
                <tr>
                    <td>大成 </td>
                    <td>广东省深圳市南山区海德三道1236号大成基金总部大厦5层、27-33层 </td>
                    <td>2324.65 </td>
                    <td>281 </td>
                    <td>www.dcfund.com.cn</td>
                </tr>
                <tr>
                    <td>中信证券 </td>
                    <td>广东省深圳市福田区中心三路8号中信证券大厦 </td>
                    <td>323.8 </td>
                    <td>40 </td>
                    <td>www.citics.com</td>
                </tr>
                <tr>
                    <td>博时 </td>
                    <td>广东省深圳市福田区益田路5999号基金大厦21层 </td>
                    <td>9527.78 </td>
                    <td>557 </td>
                    <td>www.bosera.com</td>
                </tr>
                <tr>
                    <td>南方基金管理 </td>
                    <td>广东省深圳市福田区莲花街道益田路5999号基金大厦32-42楼 </td>
                    <td>10351.49 </td>
                    <td>559 </td>
                    <td>www.nffund.com</td>
                </tr>
                <tr>
                    <td>合煦智远 </td>
                    <td>广东省深圳市福田区莲花街道福中社区福田中心区金田路4036号荣超大厦5层01-06 </td>
                    <td>1.57 </td>
                    <td>8 </td>
                    <td>www.uvasset.com</td>
                </tr>
                <tr>
                    <td>易方达 </td>
                    <td>广州市天河区珠江新城珠江东路30号广州银行大厦40-43F </td>
                    <td>15233.15 </td>
                    <td>530 </td>
                    <td>www.efunds.com.cn</td>
                </tr>
                <tr>
                    <td>广发证券 </td>
                    <td>广州市天河区马场路26号广发证券大厦30-32楼 </td>
                    <td>173.64 </td>
                    <td>24 </td>
                    <td>www.gfam.com.cn</td>
                </tr>
                <tr>
                    <td>广发 </td>
                    <td>广州市海珠区琶洲大道东1号保利国际广场南塔31-33楼 </td>
                    <td>12204.61 </td>
                    <td>587 </td>
                    <td>www.gffunds.com.cn</td>
                </tr>
                <tr>
                    <td>粤开证券 </td>
                    <td>广州经济技术开发区科学大道60号开发区控股中心21、22、23层 </td>
                    <td>3.08 </td>
                    <td>1 </td>
                    <td>www.ykzq.com</td>
                </tr>
                <tr>
                    <td>恒生前海 </td>
                    <td>深圳市前海深港合作区南山街道前海大道前海嘉里商务中心T2写字楼1001 </td>
                    <td>72.37 </td>
                    <td>32 </td>
                    <td>www.hsqhfunds.com</td>
                </tr>
                <tr>
                    <td>明亚基金 </td>
                    <td>深圳市前海深港合作区南山街道前海大道前海嘉里商务中心四期T1写字楼1804、1803B </td>
                    <td>0.39 </td>
                    <td>2 </td>
                    <td>www.mingyafunds.com</td>
                </tr>
                <tr>
                    <td>红塔红土 </td>
                    <td>深圳市前海深港合作区南山街道前湾一路399号前海嘉里商务中心四期1栋2301 </td>
                    <td>60.28 </td>
                    <td>37 </td>
                    <td>www.htamc.com.cn</td>
                </tr>
                <tr>
                    <td>渤海汇金证券 </td>
                    <td>深圳市前海深港合作区南山街道桂湾五路128号基金小镇对冲基金中心506 </td>
                    <td>130.75 </td>
                    <td>14 </td>
                    <td>www.bhhjamc.com</td>
                </tr>
                <tr>
                    <td>创金合信 </td>
                    <td>深圳市前海深港合作区南山街道梦海大道5035华润前海大厦A座36-38楼 </td>
                    <td>945.41 </td>
                    <td>178 </td>
                    <td>www.cjhxfund.com</td>
                </tr>
                <tr>
                    <td>融通 </td>
                    <td>深圳市南山区华侨城汉唐大厦13、14、15层 </td>
                    <td>1222.41 </td>
                    <td>129 </td>
                    <td>www.rtfund.com</td>
                </tr>
                <tr>
                    <td>新疆前海联合 </td>
                    <td>深圳市南山区桂湾四路197号前海华润金融中心T1栋第28和29层 </td>
                    <td>189.19 </td>
                    <td>55 </td>
                    <td>www.qhlhfund.com</td>
                </tr>
                <tr>
                    <td>红土创新 </td>
                    <td>深圳市南山区海德三道深创投广场48层 </td>
                    <td>125.15 </td>
                    <td>35 </td>
                    <td>www.htcxfund.com</td>
                </tr>
                <tr>
                    <td>信达澳亚 </td>
                    <td>深圳市南山区科苑南路2666号中国华润大厦10层 </td>
                    <td>896.63 </td>
                    <td>86 </td>
                    <td>www.fscinda.com</td>
                </tr>
                <tr>
                    <td>招商 </td>
                    <td>深圳市深南大道7088号招商银行大厦28楼 </td>
                    <td>7726.27 </td>
                    <td>483 </td>
                    <td>www.cmfchina.com</td>
                </tr>
                <tr>
                    <td>摩根士丹利华鑫 </td>
                    <td>深圳市福田区中心四路1号嘉里建设广场一期二座17楼 </td>
                    <td>238.22 </td>
                    <td>55 </td>
                    <td>www.msfunds.com.cn</td>
                </tr>
                <tr>
                    <td>景顺长城 </td>
                    <td>深圳市福田区中心四路1号嘉里建设广场第一座21层 </td>
                    <td>5252.83 </td>
                    <td>270 </td>
                    <td>www.igwfmc.com</td>
                </tr>
                <tr>
                    <td>富荣 </td>
                    <td>深圳市福田区八卦四路52号安吉尔大厦24层 </td>
                    <td>185.9 </td>
                    <td>33 </td>
                    <td>www.furamc.com.cn</td>
                </tr>
                <tr>
                    <td>同泰 </td>
                    <td>深圳市福田区华富街道莲花一村社区皇岗路5001号深业上城(南区)T2栋41层 </td>
                    <td>28.07 </td>
                    <td>45 </td>
                    <td>www.tongtaiamc.com</td>
                </tr>
                <tr>
                    <td>博远 </td>
                    <td>深圳市福田区华富街道莲花一村社区皇岗路5001号深业上城(南区)T2栋4301 </td>
                    <td>99.73 </td>
                    <td>17 </td>
                    <td>www.boyuanfunds.com</td>
                </tr>
                <tr>
                    <td>尚正 </td>
                    <td>深圳市福田区华富街道莲花一村社区皇岗路5001号深业上城(南区)T2栋703-708 </td>
                    <td>20.46 </td>
                    <td>10 </td>
                    <td>www.toprightfund.com</td>
                </tr>
                <tr>
                    <td>诺安 </td>
                    <td>深圳市福田区深南大道4013号兴业银行大厦19-20层 </td>
                    <td>1550.34 </td>
                    <td>95 </td>
                    <td>www.lionfund.com.cn</td>
                </tr>
                <tr>
                    <td>前海开源 </td>
                    <td>深圳市福田区深南大道7006号万科富春东方大厦2206-2209室 </td>
                    <td>1181.54 </td>
                    <td>158 </td>
                    <td>www.qhkyfund.com</td>
                </tr>
                <tr>
                    <td>金信 </td>
                    <td>深圳市福田区益田路6001号太平金融大厦15层02单元 </td>
                    <td>77.91 </td>
                    <td>22 </td>
                    <td>www.jxfunds.com.cn</td>
                </tr>
                <tr>
                    <td>安信基金 </td>
                    <td>深圳市福田区益田路6009号新世界商务中心36层 </td>
                    <td>1236.8 </td>
                    <td>146 </td>
                    <td>www.essencefund.com</td>
                </tr>
                <tr>
                    <td>中国中金财富 </td>
                    <td>深圳市福田区益田路与福中路交界处荣超商务中心A栋第18-21层及第04层01.02.03.05.11.12.13.15.16.18.19.20.21.22.23单元 </td>
                    <td>37.88 </td>
                    <td>1 </td>
                    <td>www.ciccwm.com</td>
                </tr>
                <tr>
                    <td>民生加银 </td>
                    <td>深圳市福田区福中三路2005号民生金融大厦13楼13A </td>
                    <td>1238.65 </td>
                    <td>146 </td>
                    <td>www.msjyfund.com.cn</td>
                </tr>
                <tr>
                    <td>招商证券 </td>
                    <td>深圳市福田区福华一路111号招商证券大厦17、18楼 </td>
                    <td>370.6 </td>
                    <td>17 </td>
                    <td>amc.cmschina.com/#/home/page</td>
                </tr>
                <tr>
                    <td>宝盈 </td>
                    <td>深圳市福田区福华一路115号投行大厦10、11层 </td>
                    <td>664.24 </td>
                    <td>108 </td>
                    <td>www.byfunds.com</td>
                </tr>
                <tr>
                    <td>第一创业证券 </td>
                    <td>深圳市福田区福华一路115号投行大厦9、16-20楼 </td>
                    <td>2.44 </td>
                    <td>2 </td>
                    <td>www.firstcapital.com.cn</td>
                </tr>
                <tr>
                    <td>国信证券 </td>
                    <td>深圳市福田区福华一路125号国信金融大厦 </td>
                    <td>136.29 </td>
                    <td>7 </td>
                    <td>www.guosen.com.cn</td>
                </tr>
                <tr>
                    <td>鹏华 </td>
                    <td>深圳市福田区福华三路168号深圳国际商会中心第43层 </td>
                    <td>8552.21 </td>
                    <td>445 </td>
                    <td>www.phfund.com.cn</td>
                </tr>
                <tr>
                    <td>平安证券 </td>
                    <td>深圳市福田区福田街道益田路5023号平安金融中心B座第22-25层 </td>
                    <td>155.51 </td>
                    <td>5 </td>
                    <td>stock.pingan.com</td>
                </tr>
                <tr>
                    <td>平安 </td>
                    <td>深圳市福田区福田街道益田路5033号平安金融中心34层 </td>
                    <td>4989.76 </td>
                    <td>312 </td>
                    <td>www.fund.pingan.com</td>
                </tr>
                <tr>
                    <td>安信证券 </td>
                    <td>深圳市福田区福田街道福华一路119号安信金融大厦15、16层 </td>
                    <td>0 </td>
                    <td>0 </td>
                    <td>www.essence.com.cn</td>
                </tr>
                <tr>
                    <td>安信证券 </td>
                    <td>深圳市福田区福田街道福安社区福华一路119号安信金融大厦21楼、22楼 </td>
                    <td>134.63 </td>
                    <td>19 </td>
                    <td>www.axzqzg.com/</td>
                </tr>
                <tr>
                    <td>长城证券 </td>
                    <td>深圳市福田区福田街道金田路2026号能源大厦南塔楼10-19层 </td>
                    <td>10.68 </td>
                    <td>5 </td>
                    <td>www.cgws.com</td>
                </tr>
                <tr>
                    <td>东方阿尔法 </td>
                    <td>深圳市福田区莲花街道紫荆社区深南大道6008号深圳特区报业大厦23楼BC </td>
                    <td>93.77 </td>
                    <td>14 </td>
                    <td>www.dfa66.com</td>
                </tr>
                <tr>
                    <td>国投瑞银 </td>
                    <td>深圳市福田区金田路4028号荣超经贸中心46层 </td>
                    <td>2371.02 </td>
                    <td>140 </td>
                    <td>www.ubssdic.com</td>
                </tr>
                <tr>
                    <td>长城 </td>
                    <td>深圳市福田区鹏程一路9号广电金融中心36层DEF单元、38层、39层 </td>
                    <td>2536.22 </td>
                    <td>175 </td>
                    <td>www.ccfund.com.cn</td>
                </tr>
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
</body>
</html>
