<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>其他省份基金公司数据</title>
</head>
<body>
          <style>
            .mytable {
                font-size: 14px;
                border: 1px solid #CCC;
                font-family: Arial, Helvetica, sans-serif;
                width: 100%;
                border-collapse: unset;
            }

            .mytable td {
                padding: 4px;
                margin: 3px;
                border: 1px solid #CCC;
            }

            .mytable th {
                background-color: #104E8B;
                color: #FFF;
                font-weight: bold;
            }
        </style>
        <table id="main-table" class="mytable">
            <tbody>
                <tr>
                    <th>公司名称</th>
                    <th>公司位置</th>
                    <th>公司规模</th>
                    <th>基金数量</th>
                    <th>官网链接</th>
                </tr>
                <tr>
                    <td>德邦证券 </td>
                    <td>-- </td>
                    <td>3.7 </td>
                    <td>2 </td>
                    <td>www.tebon.com.cn</td>
                </tr>
                <tr>
                    <td>华西基金 </td>
                    <td>-- </td>
                    <td>0 </td>
                    <td>0 </td>
                    <td>--</td>
                </tr>
                <tr>
                    <td>路博迈 </td>
                    <td>-- </td>
                    <td>0 </td>
                    <td>0 </td>
                    <td>--</td>
                </tr>
                <tr>
                    <td>泰康 </td>
                    <td>-- </td>
                    <td>909.06 </td>
                    <td>115 </td>
                    <td>www.tkfunds.com.cn</td>
                </tr>
                <tr>
                    <td>兴合 </td>
                    <td>-- </td>
                    <td>7.4 </td>
                    <td>2 </td>
                    <td>www.xhfund.com</td>
                </tr>
                <tr>
                    <td>太平洋证券 </td>
                    <td>云南省昆明市北京路926号同德广场写字楼31楼 </td>
                    <td>32.98 </td>
                    <td>3 </td>
                    <td>www.tpyzq.com</td>
                </tr>
                <tr>
                    <td>华安证券 </td>
                    <td>安徽省合肥市政务文化新区天鹅湖路198号 </td>
                    <td>71.42 </td>
                    <td>13 </td>
                    <td>www.hazq.com</td>
                </tr>
                <tr>
                    <td>国元证券 </td>
                    <td>安徽省合肥市梅山路18号 </td>
                    <td>46.14 </td>
                    <td>5 </td>
                    <td>www.gyzq.com.cn</td>
                </tr>
                <tr>
                    <td>兴华 </td>
                    <td>山东省青岛市李沧区金水路187号青岛国际院士港产业加速器2号楼8层 </td>
                    <td>50.1 </td>
                    <td>15 </td>
                    <td>www.xinghuafund.com.cn</td>
                </tr>
                <tr>
                    <td>山西证券 </td>
                    <td>山西省太原市府西街69号山西国际贸易中心东塔楼 </td>
                    <td>176.48 </td>
                    <td>30 </td>
                    <td>www.sxzq.com</td>
                </tr>
                <tr>
                    <td>国海证券 </td>
                    <td>广西省广西壮族自治区南宁市滨湖路46号国海大厦 </td>
                    <td>37.17 </td>
                    <td>7 </td>
                    <td>www.ghzq.com.cn</td>
                </tr>
                <tr>
                    <td>南华 </td>
                    <td>杭州市上城区横店大厦801室 </td>
                    <td>116.76 </td>
                    <td>23 </td>
                    <td>www.nanhuafunds.com</td>
                </tr>
                <tr>
                    <td>浙商 </td>
                    <td>杭州市西湖区教工路18号世贸丽晶欧美中心B座507室 </td>
                    <td>526.05 </td>
                    <td>74 </td>
                    <td>www.zsfund.com</td>
                </tr>
                <tr>
                    <td>南京证券 </td>
                    <td>江苏省南京市江东中路389号 </td>
                    <td>2.49 </td>
                    <td>1 </td>
                    <td>www.njzq.com.cn</td>
                </tr>
                <tr>
                    <td>东海证券 </td>
                    <td>江苏省常州市延陵西路23号投资广场18层 </td>
                    <td>8.7 </td>
                    <td>14 </td>
                    <td>www.longone.com.cn</td>
                </tr>
                <tr>
                    <td>东吴证券 </td>
                    <td>江苏省苏州工业园区星阳街5号 </td>
                    <td>3.4 </td>
                    <td>8 </td>
                    <td>www.dwzq.com.cn</td>
                </tr>
                <tr>
                    <td>天弘 </td>
                    <td>河北省天津市河西区马场道59号天津国际经济贸易中心A座16层 </td>
                    <td>10608.2 </td>
                    <td>303 </td>
                    <td>www.thfund.com.cn</td>
                </tr>
                <tr>
                    <td>财达证券 </td>
                    <td>河北省石家庄市自强路35号 </td>
                    <td>5.99 </td>
                    <td>4 </td>
                    <td>www.95363.com</td>
                </tr>
                <tr>
                    <td>中原证券 </td>
                    <td>河南省郑州市郑东新区商务外环路10号 </td>
                    <td>21.15 </td>
                    <td>1 </td>
                    <td>www.ccnew.com</td>
                </tr>
                <tr>
                    <td>财通证券 </td>
                    <td>浙江省杭州市上城区四宜路22号四宜大院B幢 </td>
                    <td>1065.78 </td>
                    <td>113 </td>
                    <td>www.ctzg.com</td>
                </tr>
                <tr>
                    <td>浙江浙商证券 </td>
                    <td>浙江省杭州市江干区五星路201号浙商证券大楼(原明珠国际商务中心1号楼)7楼 </td>
                    <td>235 </td>
                    <td>40 </td>
                    <td>www.stocke.com.cn</td>
                </tr>
                <tr>
                    <td>天风证券 </td>
                    <td>湖北省武汉市武昌区中北路217号天风大厦2号楼 </td>
                    <td>0 </td>
                    <td>0 </td>
                    <td>www.tfzq.com</td>
                </tr>
                <tr>
                    <td>方正证券 </td>
                    <td>湖南省长沙市天心区湘江中路二段36号华远华中心4、5号楼3701-3717 </td>
                    <td>106.47 </td>
                    <td>9 </td>
                    <td>www.foundersc.com</td>
                </tr>
                <tr>
                    <td>财信证券 </td>
                    <td>湖南省长沙市芙蓉中路二段80号顺天国际财富中心26层 </td>
                    <td>7.24 </td>
                    <td>1 </td>
                    <td>stock.hnchasing.com</td>
                </tr>
                <tr>
                    <td>华创证券有限责任公司 </td>
                    <td>贵州省贵阳市云岩区中华北路216号 </td>
                    <td>2.89 </td>
                    <td>2 </td>
                    <td>www.hczq.com</td>
                </tr>
                <tr>
                    <td>西南证券 </td>
                    <td>重庆市江北区金沙门路32号 </td>
                    <td>3.05 </td>
                    <td>1 </td>
                    <td>www.swsc.com.cn</td>
                </tr>
                <tr>
                    <td>西部证券 </td>
                    <td>陕西省西安市新城区东新街319号8幢10000室 </td>
                    <td>6.6 </td>
                    <td>1 </td>
                    <td>www.westsecu.com</td>
                </tr>
                <tr>
                    <td>恒泰证券 </td>
                    <td>香港湾仔皇后大道东248号大新金融中心40楼 </td>
                    <td>3.23 </td>
                    <td>1 </td>
                    <td>www.cnht.com.cn</td>
                </tr>
                <tr>
                    <td>国联证券 </td>
                    <td>香港湾仔皇后大道东248号大新金融中心40楼 </td>
                    <td>72.06 </td>
                    <td>8 </td>
                    <td>www.glsc.com.cn</td>
                </tr>
            </tbody>
        </table>
</body>
</html>

